<!DOCTYPE html> 
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[[[page:title()]]]</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="banner">Publicitate!</div>

    <p>
        Please enter the admin password below to continue.
    </p>

    [[[page:body()]]]
  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="/nitrogen/livevalidation.js" type="text/javascript" charset="utf-8"></script>
    <script src="/nitrogen/nitrogen.js" type="text/javascript" charset="utf-8"></script>
    <script src="/nitrogen/bert.js" type="text/javascript" charset="utf-8"></script>
    <script>
        [[[script]]]
    </script> 
</body>
</html>
